@charset "UTF-8";

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        /* to remove gap surrounding the edge of the page */
    }

    .main {
        width: 100%;
        margin:auto;
        font-size: 0;
        /* font-size 0 to remove random gap between div elements as browser is registering inlines as words  */
        overflow-x: hidden;
        /* to prevent horizontal scrolling for elements going beyond the page */
    }

    /* .social_media_bar{
        height: 34px;
        background-color: #00aeef;
    } */

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
        /* to put the header_container (fixed width) into a 100% width div */
        position: fixed;
        top: 0;
        /* to make the nav bar sticky */
        z-index: 10;
        /* to make the header and nav bar sit above the body elements */
    }

    .header__container {
        width: 100%;
        max-width: 1400px;
        display: flex;
        /* Flex allows the logo and nav content to appear side by side on page */
        align-items: center;
        justify-content: space-between;
        padding: 12px 28px;
        box-sizing: border-box;
    }

    .logo {
        width: 200px;
        height: 87px;
        padding: 0 5px;   
        cursor: pointer;
    }

    nav {
        width: 100%;
        /* container width is now 100% as children elements are not stacked on top of each other instead of side-by-side. Flex is no longer displayed to facilitate this*/
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* to push nav elements to RHS */
    }

    .topnav {
        display: flex;
    }

    ul.topnav {
        margin: 0;
        /* offsetting the <ul> margin as it is automatically indented */
    }

    ul.topnav li.hamburger {
        height: 25px;
        width: 25px;
        /* to display the hamburger icon */
        display: none;
        /* to hide the hamburger icon in desktop view */
    }

    ul.topnav li.hamburger a {
        height: 100%;
        color: #000000;
        font-size: 25px;
        text-decoration: none;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        /* to display the hamburger icon */
    }

    .nav_button a {
        text-decoration: none;
        color: #000;
        /* to remove underline and blue text colour for hyperlink */
        font-size: 14px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding: 0 20px;
        margin: 0 auto;
        cursor: pointer;
    }

    .nav_button a:hover {
        color: #00aeef;
        transition: 0.15s ease;
        /* so the nav bar items turn blue and when the mouse hovers over them */
    }

    .nav_button--active a {
        color: #00aeef;
        /* to add another class to the nav_button that is currently active so it is underline and the text is blue */
    }

    .sign_in_register_container {
        display: flex;
        align-items: center;
    }

    .sign_in_button {
        width: 102px;
        border: 1.5px solid #ED1C91;
        border-radius: 5px;
        margin: 0 0 0 10px;
        display: flex;
        justify-content: center;
        /* the centre align the text in the button */
        cursor: pointer;
        /* to make pointer arrow appear when hovering over the button */
    }

    .sign_in_button p {
        font-size: 14px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding: 10px 16px;
        margin: 0;
        cursor: pointer;
    }
    
    .register_button {
        width: 102px;
        border: 1.5px solid #ED1C91;
        background-color: #ED1C91;
        border-radius: 5px;
        margin: 0 0 0 20px;
        display: flex;
        justify-content: center;
        /* the centre align the text in the button */
        cursor: pointer;
        /* to make pointer arrow appear when hovering over the button */
    }

    .user_icon {
        color: #000;
    }

    .register_button p {
        font-size: 14px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding: 10px 16px;
        margin: 0;
        cursor: pointer;
    }

    .hero_background {
        margin: 60px 0 0 0;
        height: 450px;
        background-image:url(https://j.gifs.com/WLkNGE.gif);
        background-size: cover;
        /* so the GIF stretches across the entire page */
        /* Action : not showing up */
    }

    .hero {
        padding: 0 34px;
    }

    .hero_header_container{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo_date {
        width: 426px;
        padding: 28px;
        margin: 0 0 15px 0;
    }

    h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: #ED1C91;
        margin: 0 auto;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #383838;
    }










    .banner {
        padding: 32px;
        box-sizing: border-box; 
        /* Border-box siing enables box to stay the same size when there is padding */
        align-items: center; 
        margin-top: 70px;
        /* so the first section appears under the sticky navbar */
    }

    .banner_content_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* so the 55% and 45% max out the 100% width of the parent, and the give monthly container wraps to the next row */
    }

    .banner_image_container {
        width: 55%;
    }

    .banner_image {
        width: 100%;
    }

    .banner_text_container {
        width: 45%;
        box-sizing: border-box;
        padding: 8px 18px 24px 40px;
        /* optimising code padding top right bottom left */
    }

    h2 {
        width: auto;
        height: auto;
        font-size: 49px;
        font-family: 'Anton', sans-serif;
        font-weight: 500;
        margin: 0 auto;
    }

    

































    .sponsors {
        width: 100%;
        background-color: #f5f5f6;
        display: flex;
        justify-content: space-between;
        padding: 14px;
        box-sizing: border-box;
    }

    .sponsors_container h3 {
        font-size: 11px;
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        margin: 0 auto;
        /* to remove space created by text height */
        letter-spacing: 1px;
        /* to remove wide letter spacing */
    }

    .partner_logo {
        min-width: 110px;
        max-width: 140px;
        /* to make logos responsive as device size changes */
        padding: 10px 20px 10px 0;
        cursor: pointer;
    }

    .partner_logo:last-child {
        padding-right: 0;
        /* to remove padding right on the last logo in the set */
    }

    .sponsors_container {
        padding: 0 7px;
    }

    .logo_container {
        display: flex;
        align-items: center;
        height: 100%;
        /* to horizontally center the logos */
    }

    .footer {
        width: 100%;
        /* removed the height of 518px to allow footer to size to content */
        background-color: #151515;
        padding: 28px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }

    .footer__container {
        width: 100%;
        max-width: 1400px;
        /* to put the footer fixed-width box into the 100% width box to contain the footer */
    }

    .footerbox {
        display: flex;
        justify-content: space-between;
    }

    h4 {
        color: #FFFFFF;
        letter-spacing: 1px;
        font-size: 16px;
        font-family:'Anton', sans-serif;
        font-weight: 300;
        margin: 0 auto 7px auto;
        /* to remove extra space created by auto line height*/
        /* to create a gap between the column heading and links below */
    }

    .footer_column a {
        color: #ffffff;;
        font-size: 15px;
        font-family: 'Overpass', sans-serif;
        font-weight: 200;
        text-decoration: none;
        /* to remove underline from hyperlink */
    }

    .footer_column p {
        margin: 0 auto;
        /* to remove extra space created by auto line height */
        line-height: 1.2;
        margin: 8px 0;
    }

    .footer_column {
        width: 20%;
        padding: 0 28px 28px 0;
        box-sizing: border-box;
    }

    .footer_column_container {
        display: flex;
    }

    .footer_column_row{
        margin-bottom: 35px;
    }

    .social_media_icon_container {
        display: flex;
    }

    .social_media_icon {
        width: 30px;
        height: 30px;
        margin-right: 14px;
        border-radius: 100px;
        border: 1px solid #fff;
        /* to create white circumference around icons */
        background-color: #ffffff;
        /* to create white background for social media icons that are transparent */
    }

    .copyright p {
        color: #ffffff;;
        font-size: 15px;
        font-family: 'Overpass', sans-serif;
        font-weight: 200;
        margin: 0 auto 28px;
        /* to provide space so the copyright is not hidden behind the contact us chat button at the very bottom */
    }

    .chat_box {
        width: 226px;
        height: 50px;
        background-color: #ffffff;
        box-shadow: 0 4px 12px;
        /* to give the box a shadow (rather than an outline) */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        margin-right: 16px;
        /* to provide a space between the chat box and edge of page */
        border-radius: 8px 8px 0 0; 
        /* to round the top right and left hand corner */
        position: fixed; 
        bottom: 0;
        right: 0;
        /* to fix the chatbox to the bottom of the screen, on the RHS*/
        cursor: pointer;
    }

    .chat_box p {
        font-size: 15px;
        font-family:'Noto Sans', sans-serif;
        font-weight: 700;
    }

    .chat_icon {
        width: 24px;
        height: 24px;
        padding: 5px;
    }

/* Shared CSS rules in sub pages below this point (both for support_us.html and about_us.html */
    .page_header {
        padding: 32px 28px;
        background-color: #3F4B55;
        margin: 70px 0;
        /* so the first section appears under the sticky navbar */
    }

    .page_header__content {
        min-width: 320px;
        max-width: 1280px;
        margin: 0 auto;
        /* To make the content centred on the page as the page resizes so it is responsive */
    }

    h1 {
        color: #FFFFFF;
        letter-spacing: 2px;
        /* to create more space between the lines */
        line-height: 1;
        font-size: 80px;
        font-family:'Anton', sans-serif;
        font-weight: 400;
        margin: 0 auto 30px;
        /* to remove extra space created by auto line height*/
    }

    .page_header h4 {
        color: #FFFFFF;
        letter-spacing: 1px;
        line-height: 1.5;
        font-size: 20px;
        font-family: 'Overpass', sans-serif;
        font-weight: 500;
        margin: 0 0 18px;
        /* to remove extra space created by auto line height and also create a space at the bottom of the header*/
    }

} 
/* closing bracket for media query */ 










